.top-content {

    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: lightblue;
    line-height: 30px;
    text-align: center;
    width: 100%;
    background-image: url("https://s3-us-west-1.amazonaws.com/chatcontacts/1bg.jpg");

}

.container {
    width: 970px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;

    height: 500px;
}
.col1 {
    width: 41%;
    float: left;
    padding-right: 15px;
    padding-left: 15px;
    box-sizing: border-box;
}
.col2{
    width: 8%;
    float: left;
    box-sizing: border-box;
    min-height: 300px;
    margin-top: 170px;
    border-right: 1px solid #fff;
    border-right: 1px solid rgba(255, 255, 255, 0.6);
}
.col3{
    width: 8%;
    float: left;
    box-sizing: border-box;
    min-height: 300px;
    margin-top: 170px;
}
.col4{
    width: 41%;
    float: left;
    box-sizing: border-box;
}

::-moz-selection { background: #19b9e7; color: #fff; text-shadow: none; }
::selection { background: #19b9e7; color: #fff; text-shadow: none; }


md-input-container:not(.md-input-invalid).md-input-focused .md-input,
md-input-container:not(.md-input-has-value) input:not(:focus),
md-input-container label,
md-input-container.md-input-has-value label:not(.md-no-float),
md-input-container.md-input-focused label:not(.md-no-float),
md-input-container .md-input{
    border-color: lightblue;
    color: lightblue;
}
md-input-container.md-input-invalid [ng-message],
md-input-container [ng-message],
md-input-container.md-input-invalid .md-input{

    border-color : #FF7812;
    color: #FF7812;
}
input:-webkit-autofill{

    background-color: transparent!important;
    color: lightblue!important;
}
.btn-link-1 {
    display: inline-block;
    height: 50px;
    margin: 5px;
    padding: 16px 20px 0 20px;
    background: #19b9e7;
    font-size: 16px;
    font-weight: 300;
    line-height: 16px;
    color: #fff;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
}



/***** Top content *****/

.inner-bg {
    padding: 20px 0 80px 0;
}

.top-content .text {
    color: #fff;
}

.top-content .text h1 { color: #fff; }

.top-content .description {
    margin: 20px 0 10px 0;
}

.top-content .description p { opacity: 0.8; }

.top-content .description a {
    color: #fff;
}
.top-content .description a:hover,
.top-content .description a:focus { border-bottom: 1px dotted #fff; }

.form-box {
    margin-top: 70px;
}

.form-top {
    overflow: hidden;
    padding: 0 25px 15px 25px;
    background: #444;
    background: rgba(0, 0, 0, 0.35);
    -moz-border-radius: 4px 4px 0 0; -webkit-border-radius: 4px 4px 0 0; border-radius: 4px 4px 0 0;
    text-align: left;
}

.form-top-left {
    float: left;
    width: 75%;
    padding-top: 25px;
}

.form-top-left h3 { margin-top: 0; color: #fff; }
.form-top-left p { opacity: 0.8; color: #fff; }

.form-top-right {
    float: left;
    width: 25%;
    padding-top: 5px;
    font-size: 66px;
    color: #fff;
    line-height: 100px;
    text-align: right;
    opacity: 0.3;
}

.form-bottom {
    padding: 25px 25px 30px 25px;
    background: #444;
    background: rgba(0, 0, 0, 0.3);
    -moz-border-radius: 0 0 4px 4px; -webkit-border-radius: 0 0 4px 4px; border-radius: 0 0 4px 4px;
    text-align: left;
}

.form-bottom form textarea {
    height: 100px;
}

.form-bottom form button.btn {
    width: 100%;
}

.form-bottom form .input-error {
    border-color: #19b9e7;
}

.social-login {
    margin-top: 35px;
}

.social-login h3 {
    color: #fff;
}

.social-login-buttons {
    margin-top: 25px;
}

.middle-border {
    min-height: 300px;
    margin-top: 170px;
    border-right: 1px solid #fff;
    border-right: 1px solid rgba(255, 255, 255, 0.6);
}


/***** Footer *****/

footer {
    padding-bottom: 70px;
    color: #fff;
}

footer .footer-border {
    width: 200px;
    margin: 0 auto;
    padding-bottom: 30px;
    border-top: 1px solid #fff;
    border-top: 1px solid rgba(255, 255, 255, 0.6);
}

footer p { opacity: 0.8; }

footer a {
    color: #fff;
}
footer a:hover, footer a:focus { color: #fff; border-bottom: 1px dotted #fff; }


/***** Media queries *****/

@media (min-width: 992px) and (max-width: 1199px) {}

@media (min-width: 768px) and (max-width: 991px) {}

@media (max-width: 767px) {

    .middle-border { min-height: auto; margin: 65px 30px 0 30px; border-right: 0;
        border-top: 1px solid #fff; border-top: 1px solid rgba(255, 255, 255, 0.6); }

}

@media (max-width: 415px) {

    h1, h2 { font-size: 32px; }

}

