
<div class="top-content"  style="background-color: #004444">I'm login page

    <div class="inner-bg">
        <div class="container">

            <div class="row">

                <div id="login-div" class="col1">
                    <div class="form-box">
                        <div class="form-top">
                            <div class="form-top-left">
                                <h3>Login to Start Chat</h3>
                                <p>Enter your email and password to log on:</p>
                                <div ng-show="data.login.error" style="color: #FF7812;"> {{ data.login.errormsg }}</div>
                            </div>
                            <div class="form-top-right">
                                <i class="fa fa-lock"></i>
                            </div>
                        </div>
                        <div class="form-bottom">
                            <form name="loginForm" class="login-form">
                                <div class="form-group">

                                    <md-input-container class="md-block" flex-gt-sm>
                                        <label for="name">Username/Email</label>
                                        <input type="email" required name="username" ng-model="data.login.username" />

                                        <div ng-messages="regiForm.uername.$error" >
                                            <div ng-message="required">Email is required.</div>

                                        </div>
                                    </md-input-container>
                                </div>
                                <div class="form-group">
                                    
                                    <md-input-container class="md-block" flex-gt-sm>
                                        <label for="password">Password</label>
                                        <input type="password" required name="password" ng-model="data.login.password" />

                                        <div ng-messages="regiForm.password.$error" >
                                            <div ng-message="required">Password is required.</div>

                                        </div>
                                    </md-input-container>
                                </div>
                                <md-button ng-disabled="loginForm.$invalid" ng-click="ul.login()" class="md-raised">Sign in!</md-button>

                            </form>
                        </div>
                    </div>
                </div>
                <div class="col2"></div>
                <div class="col3"></div>

                <div class="col4">
                    <div class="form-box">
                        <div class="form-top">
                            <div class="form-top-left">
                                <h3>Sign Up</h3>
                                <p>Fill in the form below to get instant access:</p>
                                <div ng-show="data.register.error" style="color: #FF7812;"> {{ data.register.errormsg }}</div>
                            </div>


                        </div>
                        <div class="form-bottom">
                            <form name="regiForm" class="login-form" novalidate>


                                <div class="form-group">

                                    <md-input-container class="md-block" flex-gt-sm>
                                        <label for="email">Username/Email</label>
                                        <input type="email" required name="email" ng-model="data.register.username" />

                                        <div ng-messages="regiForm.password.$error" >
                                            <div ng-message="required">Username/Email is required.</div>

                                        </div>
                                    </md-input-container>
                                </div>
                                <div class="form-group">

                                    <md-input-container class="md-block" flex-gt-sm>
                                        <label for="password">Password</label>
                                        <input type="password" required name="password" ng-model="data.register.password" />

                                        <div ng-messages="regiForm.password.$error" >
                                            <div ng-message="required">Password is required.</div>

                                        </div>
                                    </md-input-container>
                                </div>
                                <div class="form-group">

                                    <md-input-container class="md-block" flex-gt-sm>
                                        <label for="name">Name</label>
                                        <input type="text" required name="name" ng-model="data.register.name" />

                                        <div ng-messages="regiForm.name.$error" >
                                            <div ng-message="required">Name is required.</div>

                                        </div>
                                    </md-input-container>
                                </div>
                                <div class="form-group">


                                    <label for=""></label>
                                    <input id="fileInput" type="file" >


                                </div>

                                <md-button  ng-click="ul.register()" ng-disabled="regiForm.$invalid" class="md-raised">Sign Up!</md-button>
                            </form>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>

</div>